<div class="py-4 px-4 md:px-10">
  <div class="shadow-2xl rounded-xl px-4 pt-6 pb-6 mb-4">
    <div
      class="flex justify-between items-center text-xl"
      id="chart-container-<%= chart.jwt %>"
    >
      <div class="overflow-auto max-w-44 md:max-w-full md:text-2xl">
        <%= chart.name %>
      </div>
      <div class="flex gap-2 justify-center items-center">
        <% if(chart.status=="inactive"){ %>
        <center>
          <a title="Play" class="cursor-pointer" id="play-<%= chart.jwt %>">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 24 24"
              style="fill: rgba(0, 0, 0, 1)"
              id="svg-<%= chart.jwt %>"
            >
              <path d="M7 6v12l10-6z" id="d-<%= chart.jwt %>"></path>
            </svg>
          </a>
        </center>
        <% } %> <% if(chart.status=="active"){ %>
        <center>
          <a
            title="Stop"
            class="cursor-pointer"
            id="stop-<%= chart.jwt %>-<%= chart.status %>"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 24 24"
              style="fill: rgba(0, 0, 0, 1)"
              id="svg-<%= chart.jwt %>"
            >
              <path d="M7 7h10v10H7z" id="d-<%= chart.jwt %>"></path>
            </svg>
          </a>
        </center>
        <% } %>
        <button
          class="bg-content text-secondary rounded-md px-2 py-1 shadow-xl hover:text-secondary-focus hover:shadow-md"
          id="deliver-<%= chart.jwt %>"
        >
          Deliver
        </button>
      </div>
    </div>
    <p id="p_error-<%= chart.jwt %>" class="text-primary text-sm"></p>
  </div>

  <!--///////////////////////////////////////////////////////////////-->
  <div class="md:text-xl pl-2">
    Components: <%if (typeof chart.details[0] == 'undefined') {%>no active
    components <% } %>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-4 items-stretch">
    <% if (typeof chart.details != 'undefined') { for( let deployment of
    chart.details) { %>
    <div
      class="md:col-span-1 flex flex-col shadow-2xl rounded-xl px-4 pt-6 pb-6 mb-4 h-full"
    >
      <div>
        <div class="overflow-auto md:max-w-full h-full">
          <p class="text-lg text-secondary"><%= deployment.name %></p>
          <p class="text-sm text-secondary">
            Status: <%= deployment.pods.items[0].status.phase %>
          </p>
          <p class="text-sm text-secondary">
            Image: <%= deployment.pods.items[0].spec.containers[0].image %>
          </p>
          <div class="flex gap-2">
            <p class="text-sm text-secondary">Ports:</p>
            <div>
              <% for (let service of deployment.services.items) { %> <% for (let
              port of service.spec.ports) { %> <% if (port.nodePort) { %>
              <a
                href="/forward-to-port/<%= chart.jwt%>/<%= service.metadata.name%>/<%= port.port %>/<%= service.metadata.namespace %>"
                target="_blank"
                class="text-sm text-secondary hover:text-secondary-focus hover:cursor-pointer"
              >
                <%= port.port %>:<%= port.nodePort %>
              </a>
              <% } else { %>
              <p class="text-sm text-secondary">
                <%= port.port %>:<%= port.targetPort %>
              </p>
              <% } }} %>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row-reverse gap-2 mt-auto">
        <a
          href="/logs/<%= chart.jwt %>/<%= deployment.pods.items[0].metadata.name%>"
          class="bg-content text-secondary rounded-md px-2 py-1 shadow-xl hover:text-secondary-focus hover:shadow-md"
        >
          Logs
        </a>
      </div>
    </div>
    <% } } %>
  </div>
</div>
<!--<div id="temp"><%= JSON.stringify(chart) %></div> -->
